* {
    margin: 0;
    padding: 0;
}

.herolanding {
    height: auto;
    margin: 0;
}

.hero-image {
    padding-top: 10rem;
    padding-bottom: 18rem;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("herobackground.jpg");
    /* height: 75%; */
    height: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-left: 5rem;
    padding-right: 15rem;
}

@media screen and (max-width: 800px) {
    .hero-image{
        padding-right: 5rem;
        padding-left: 3rem;
    }
  }




.main-text {
    color: white;
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.secondary-text {
    color: white;
    font-size: 1rem;
}

.spacing {
    padding-top: 1rem;
}

.articles-button {
    background-color: white;
    border-radius: 4px;
    color: black;
    padding: 1rem;
    text-decoration: none;
}