.image {
    width: 7.5vw;
    height: 27vh;
    transition: all .5s ease-in-out;
    opacity: .6;
    filter: grayscale(90%);

    &:hover {
        width: 10vw;
        opacity: 1;
        filter: grayscale(10%);
    }

    img {
        width: auto;
        object-fit: cover;
        height: 50vh;
    }
}