.image {
    width: 7.5em;
    height: 27em;
    transition: all .5s ease-in-out;
    opacity: .6;
    filter: grayscale(90%);

    &:hover {
        width: 11em;
        opacity: 1;
        filter: grayscale(10%);
    }

    img {
        width: auto;
        object-fit: cover;
        height: 29em;
    }
}