.login-card {
  background-color: white;
  margin: auto;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  height: 80%;
  border-radius: 1rem;
  width: 40%;
  -ms-grid-rows: 1fr 4fr;
      grid-template-rows: 1fr 4fr;
  padding-bottom: 2rem;
  place-content: center;
}

.login-card button {
  background-color: #1e1e24;
  color: white;
  border-radius: 1rem;
}

.login-card .top-header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

.login-card .top-header .title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 2rem;
  height: 10vh;
  border-bottom: 1px solid #dee2e6;
}

.login-card .buttons-gp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.login-card .buttons-gp button {
  text-align: center;
  width: 10vw;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: flex;
}

.login-card .buttons-gp button img {
  position: relative;
  width: 1.5vw;
  top: -0.1rem;
}

.login-card .or {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding-top: .6em;
  padding-bottom: .6em;
  color: #3d3d3d;
  font-size: 0.8rem;
}

.login-card .bottom-header {
  /*display: -ms-grid;*/
  display: flex;
  flex-direction: column;
  /*-ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-rows: auto;
      grid-template-rows: auto;*/
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: flex-start;




    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.login-card .bottom-header .inputs {
  width: 90%;
  height: 25vh;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: space-evenly;
}

.login-card .bottom-header .inputs .inp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
   width: 100%;
   height: 60px;

}

.login-card .login-forget {
  padding-top: 1rem;
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
}

.login-card .login-forget button {
  width: 6rem;
  font-size: 1rem;
  border-radius: 20rem;
  height: 2rem;
  background-color: #c21336;
  outline: none!important;
  border: none!important;
}

.login-card .login-forget .forget {
  padding-top: 2rem;
  font-size: 0.8rem;
}

.dont-have {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 90%;
}

.dont-have span {
  padding-left: 0.5rem;
  color: #d82d57;
  cursor: pointer;
}

@media screen and (max-width: 650px){
  .login-card{
    width: 60%;
  }
}
@media screen and (max-width: 400px){
  .login-card{
    width: 75%;
  }
}
/*# sourceMappingURL=style.css.map */