.BoardCreationContainer{
    width: 60vw;
    margin: 5vh auto;
    background-color: white;
    border-radius: 20px;
    /* height: 80vh; */
    
}
.ContentContainer{
    display: flex;
    justify-content: space-between;
    /*padding: 50px;*/
    padding: 40px;
    column-gap: 2vw;    

}
.leftContainer{
    width: 50%;
    padding: 10px;
    color: black;
    height: 75vh;
}
.dots img{
    width: 17px;
    height: 20px;
    /*height: 35px;*/
    /* padding: 20px; */
    margin-bottom: 25px;

}
.picture{
/*width: 95%;*/
width: 100%;
display: flex;
/*align-items: center;*/
flex-direction: column;
justify-content: center;
height: 60vh;
/*border: 3px solid rgb(206, 203, 203) ;*/
text-align: center;
background-color: rgb(230, 233, 233);
border-radius: 15px;
align-items: center;
/*border-style: dashed;*/
}

.rightContiner{
/*padding: 15PX;*/
padding: 10px;
width: 50%;
}
.BoardCreationForm{
display: flex;
flex-direction: column;
width: 90%;
row-gap: 3vh;
}
.BoardCreationFormInput{
    height: 6vh;
    background-color: white;
    border: none;
    border-bottom: 2px solid black;

}

.BoardCreationFormInput:focus{
    outline: none !important;
}
#boardSubmit{
    width: 80px;
    height: 40px;
    border-radius:0px 10px 10px 0px ;
    cursor: pointer;
    background-color: rgb(236, 13, 13);
    border: none;
   color: white;
   font-weight: 600;
}
#boardSubmit:hover{
   background-color: rgb(194, 10, 10);
}

.fileupload{
    font-size: 1.5vw;
}
.dotbox{
    position: absolute;
    /*left: 30%;*/
    left: 27vw;
    background-color: whitesmoke;
    stroke: rgb(239, 239, 239);
    /*padding: 3px;*/
    padding-left: 4px;
    padding-right: 4px;
    /*width: 10%;*/
    /*min-width: 82px;*/
    width: 100px;
    border-radius: 16px;
    cursor: pointer;
}
.dotbox div{
    padding: 4px;
    margin-left: 6px;
}
@media screen and (max-width: 800px){
    .BoardCreationContainer{
        width: 80%;
    }
    .dotbox{
        left: 23vw;
    }
}
@media screen and (max-width: 650px){
    .BoardCreationContainer{
        width: 90%;
    }
    .ContentContainer{
        padding: 20px;
        column-gap: 1vw;
    }
    .dotbox{
        left: 19vw;
    }
}
@media screen and (max-width: 450px){
    .BoardCreationContainer{
        width: 95%;
    }
    .ContentContainer{
        padding: 5px;
        margin: auto;
        column-gap: 0vw;
    }
    .dotbox{
        left: 21vw;
    }
}