.cover{
    width: 100%;
    max-width: 600px;
    height: 40vh;
    border-radius: 25px;
}
.images{
    height: 50vh;
    text-align: center;
}
.profile{
    position: relative;
    transform: translate(0vh,-50%);
    text-align: center;

}
.profileImage{
    /*display: inline;*/
    /*width: 10vw;*/
    width: 30%;
    max-width: 150px;
    min-width: 80px;
    /*height: 20vh;*/
    height: 10%;
    border-radius: 100%;
}
.information{
    /*padding: 8px;*/
    padding: 2%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*width: 20vw;*/
    width: 30vw;
}
.information div{
    /*font-weight: 600;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.publicf{
    font-weight: 600;
}
/*.information div:hover{
    transform: scale(1.02);
    transition: all 0.3s ease;
}*/
.publicf:hover{
    transform: scale(1.02);
    transition: all 0.3s ease;
}
.linksContainer{
    width: 100%;
    text-align: center;
}
.link{
    display: inline-block;
    color: black;
    font-size: 17px;
    font-weight: 700;
    margin: 7px;
    text-decoration: none;
}
.link:hover{
    color: rgba(0, 0, 0, 0.5);
}