.cover {
	width: 100%;
	max-width: 600px;
	height: 40vh;
	border-radius: 25px;
}
.images {
	height: 50vh;
	text-align: center;
}
.profile {
	position: relative;
	transform: translate(0vh, -50%);
	text-align: center;
}
.profileImage {
	/*display: inline;*/
	/*width: 10vw;*/
	width: 30%;
	max-width: 150px;
	min-width: 80px;
	/*height: 20vh;*/
	height: 10%;
	border-radius: 100%;
}
.information {
	/*padding: 8px;*/
	padding: 2%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	/*width: 20vw;*/
	width: 30vw;
}
.information div {
	/*font-weight: 600;*/
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.publicf {
	font-weight: 600;
}
/*.information div:hover{
    transform: scale(1.02);
    transition: all 0.3s ease;
}*/
.publicf:hover {
	transform: scale(1.02);
	transition: all 0.3s ease;
}
.linksContainer {
	width: 100%;
	text-align: center;
}
.link,
.collection_button {
	display: inline-block;
	color: black;
	font-size: 17px;
	font-weight: 700;
	margin: 7px;
	text-decoration: none;
}
.link:hover {
	color: rgba(0, 0, 0, 0.5);
}

.collection_button,
.collection_button:focus {
	color: rgba(0, 0, 0, 0.8);

	margin: 0 1rem;
	padding: 0.5rem 1.2rem;
	border: none;
	outline: none;
	background-color: transparent;
}
.collection_button:hover {
	text-decoration: underline;
	/* filter: drop-shadow(0px 1px 2px rgba(62, 62, 62, 0.6)); */
	color: rgba(0, 0, 0, 0.9);
	transition: all 0.2s;
}
.collectionContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.collection_button.active {
	background-color: rgba(220, 20, 60, 0.9);
	border-radius: 10px;
}
.collection_button.active:hover {
	filter: drop-shadow(0px 1px 6px rgba(220, 20, 60, 0.8));
	color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
}
