.container {
    /*width: 50vw;*/
    width: 60vw;
    margin: 20px auto;
    /*height: 100vh;*/
}

.details {
    /*margin: auto 15vw;*/
    /*margin: auto;*/
}

.links {
    /*margin: auto 19vw;*/
    margin: auto;
    /*padding-top: 20px;*/
    padding: 20px;
    /*width: max-content;*/
}

.followbtn {
    margin: 0 auto;
    /*position: relative;*/
    display: block;
    /*left: 45%;*/
    /*width: 10%;*/
    width: 20%;

    max-width: 100px;
    min-width: 60px;

    height: 35px;
    border-radius: 20px;
    background-color: rgba(220, 20, 60, 0.8);
    border: none;
    color: white;
    font-weight: 700;
    font-size: small;
    cursor: pointer;
}

.followbtn:hover {
    background-color: rgba(220, 20, 60, 1);

}