.navbar {
	display: grid;
	justify-content: space-between;
	align-items: center;
	height: 8vh;
	grid-template-columns: 1fr 2fr;
	padding: 0 3rem;
	font-size: 1rem;
	.title {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.remaining-navs {
		display: flex;
		width: 85%;
		height: 100%;
		align-items: center;
		justify-self: flex-end;
		font-weight: bold;
		justify-items: flex-end;
		justify-content: space-between;
		font-weight: bolder;

		.navs {
			opacity: 0.3;
			position: relative;
			top: 0.5rem;
		}

		.navs,
		.activeLink {
			display: flex;
			justify-content: center;
			width: 5rem;
			height: 2rem;
			transition: all 0.2s ease-in;
		}

		.activeLink {
			opacity: 1;
		}
	}

	a {
		text-decoration: none;
		color: black;
	}

	.title {
		margin: auto;
	}
	.search-field{
		border-radius: 2rem;
	}
}
