.contactContainer{
    width: 60%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    /*height: 90vh;*/
}
.contactForm{
    margin-top: 5vh;
    text-align: center;
}
.FirstLastName{
    display: flex;
    justify-content:space-between;
}
#firstName{
    width: 48%;
}
#lastName{
    width: 48%;
}
.formElement{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin-top: 15px;
}
.formElement input,textarea{
    border: none  ; 
    /* border-bottom: 2px solid black; */
    font-size: 17px;
}
.formElement label{
    font-size: 20px;
}
/* .formElement input, textarea:focus{
    outline: none !important;
    border-bottom: 2px solid black;
} */

.submitButton{
    color:white;
    margin: 5% auto;
    width: 40%;
    padding: 2%;
    background-color:crimson;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 17px;
}
.submitButton:hover{
    background-color: crimson;
    transform: scale(1.2);
    transition: all 0.3s ease;
    color: white;
}
.contactus{
    padding-bottom: 4%; 
    font-size: 3rem; 
    text-align: center; 
    color: crimson;
}
.contactText{
    text-align: center;
}
@media (max-width: 500px){
    .contactus{
        font-size: 2rem;
    }
    .FirstLastName{
        display: block;
    }
    #firstName{
        width: 100%;
    }
    #lastName{
        width: 100%;
    }
    .submitButton{
        width: 70%;
    }
}
