.CreativeCarousalContainer{
     width: 100%;
      height: 70vh;
      overflow: hidden;
}

.imageCOrousalCOnatiner1{
        animation: mymove 15s infinite;
        width: 100%;
        height: 70%;
        position: absolute;
        display: block;
        display: flex;
        column-gap: 10px;
}


.corousalImageCreative{
  height: 100%;

  width: 35%;
}

@keyframes mymove {
  0%   {left: 0vw;}
  100% {left: -200vw;}
}
