.signup-card {
  background-color: white;
  margin: auto;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  height: 80vh;
  border-radius: 1rem;
  width: 30vw;
  -ms-grid-rows: 1fr 8fr;
      grid-template-rows: 1fr 8fr;
  padding-bottom: 4rem;
  place-content: center;
}

.signup-card button {
  background-color: #1e1e24;
  color: white;
  border-radius: 1rem;
}

.signup-card .top-header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 10vh;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup-card .top-header .title {
  font-size: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 2rem;
}

.signup-card .buttons-gp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.signup-card .buttons-gp button {
  text-align: center;
  width: 10vw;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: flex;
}

.signup-card .buttons-gp button img {
  position: relative;
  width: 1.5vw;
  top: -0.1rem;
}

.signup-card .or {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #3d3d3d;
  font-size: 0.8rem;
}

.signup-card .bottom-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup-card .bottom-header .inputs {
  height: 45vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup-card .bottom-header .inputs .inp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup-card .login-forget {
  padding-top: 1rem;
  width: 100%;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup-card .login-forget button {
  height: 3rem;
  width: 9rem;
}

.signup-card .login-forget .forget {
  padding-top: 2rem;
  font-size: 0.8rem;
}

.signup-card .dont-have {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: .95rem;
}

.signup-card .dont-have span {
  padding-left: 0.5rem;
  color: #d82d57;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */