.home-container {
    width: 100%;
    height: 100vh;
}

.container {
    max-width: 85vw;
    min-width: 80vw;
    position: relative;
    top: 8em;
    width: auto;
    height: 85vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.title {
    width: 100%;
    height: 5vh;
    position: relative;
    top: -1em;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}