.home-container {
    width: 100%;
    height: 100vh;
}

.container {
    max-width: 82vw;
    margin-top: 8em;
    width: auto;
    height: 80vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.container2 {
    max-width: 50vw;
    width: auto;
    height: 80vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}